@keyframes scroll-reverse {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll-reverse {
    display: flex;
    width: max-content;
    animation: scroll-reverse 65s linear infinite;
}

/* Smoothly pause scrolling when hovering over any card */
.animate-scroll-reverse:hover {
    animation-play-state: paused;
}
